.user-profile {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
}

.profile-picture {
    flex: 0 0 auto;
    margin-right: 20px;
}

.profile-picture img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 10px #0000001a;
}

.profile-details {
    flex: 1 1 auto;
}

.profile-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-details p {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Ajout de styles pour le formulaire */
.form-container {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 100px; /* Ajuster la hauteur selon votre besoin */
}

.form-group input[type="submit"] {
    background-color: #50a374;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
    background-color: #50a374;
}