{#{% extends 'base.html.twig' %}#}


{#{% block title %}CALENDRIER{% endblock %}#}
{#{% block stylesheets %}#}

{#{% endblock %}#}


{#{% block body %}#}
{#    {{dump(rdvsJson)}}#}
{#    <div id="calendrier" style="margin-left: 300px; margin-top: 100px">#}

{#    </div>#}

{#{% endblock %}#}
{#{% block javascripts %}#}
{#    <script>#}
{#        window.onload = () => {#}
{#            let calendarElt = document.querySelector("#calendrier")#}

{#            let calendar = new FullCalendar.Calendar(calendarElt, {#}
{#                initialView: 'timeGridWeek',#}
{#                locale: 'fr',#}
{#                timeZone: 'Europe/Paris',#}
{#                headerToolbar: {#}
{#                    start: 'prev,next today',#}
{#                    center: 'title',#}
{#                    end: 'dayGridMonth,timeGridWeek'#}
{#                },#}
{#                editable: true,#}
{#                eventResizableFromStart: true,#}
{#                events: {{ rdvsJson | raw }}#}
{#            })#}

{#            calendar.render()#}
{#        }#}
{#    </script>#}

{#{% endblock %}#}

{% extends 'base.html.twig'  %}
{% block title %} Les rdvs{% endblock %}
{% block nompage %} Les rdvs{% endblock %}

{% block body %}

    <div id="calendrier" style="margin-left: 300px; margin-top: 100px">

    </div>

            <script>
                window.onload = () => {
                    let calendarElt = document.querySelector("#calendrier")

                    let calendar = new FullCalendar.Calendar(calendarElt, {
                        initialView: 'timeGridWeek',
                        locale: 'fr',
                        timeZone: 'Europe/Paris',
                        headerToolbar: {
                            start: 'prev,next today',
                            center: 'title',
                            end: 'dayGridMonth,timeGridWeek'
                        },
                        editable: true,
                        eventResizableFromStart: true,
                        events: {{ rdvsJson | raw }}
                    })

                    calendar.render()
                }
            </script>


{% endblock %}
