

<div class="container">
   <div class="col-md-6">
     <div class="mb-3">                
      <div class="form-container">  
      <div class="form-group label"> 
          <div class="form-group input"> 

{{ form_start(form) }}


    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
</div>
</div>
</div>
</div>